*{margin: 0; padding: 0;}

.taxi
{
    width: 1300px;
    
}

 img
{

    position: absolute;
    
    animation:  crazy-taxi 4s  infinite linear;
    animation-timing-function: ease-in-out;
    
}

@keyframes crazy-taxi {
    0% {
        
        top: 0px;
        left: 0px;
        transform: rotatey(180deg);
       
    }

    5%{clip: rect(0px,143px,72px,0px);}
    10% {clip: rect(0px,143px,72px,0px); }
    15% {clip: rect(0px,143px,72px,10px); }
    25% {clip: rect(0px,143px,72px,10px); transform: rotatey(180deg);}
    30% {clip: rect(0px,143px,72px,10px);}
    35% {clip: rect(0px,143px,72px,10px); }
    40% {clip: rect(0px,143px,72px,0px); } 
    50% {clip: rect(0px,143px,72px,0px); left: 90%; top: 0; }
    60% {clip: rect(0px,143px,72px,10px); }
    65% {clip: rect(0px,143px,72px,0px);transform: rotatey(0deg);}
    70% {clip: rect(0px,143px,72px,10px);}
    80% {clip: rect(0px,143px,72px,15px);  }
    85% {clip: rect(0px,143px,72px,15px); } 
    88% {clip: rect(0px,143px,72px,10px); }
    90% {clip: rect(0px,143px,72px,0px); }
    95% {clip: rect(0px,143px,72px,0px);}
    99% {clip: rect(0px,143px,72px,0px);  }
    
    100% {
        left: 0;
        top: 0;
         
    }

    
}